---
layout: secret
---

<article class="container mx-auto">
  <header class="pt-4 mb-4">
    <h1>Methodology</h1>
  </header>

  <section class="pt-4 mb-4">
    <p class="pb-4">
      There are a number of different theories about how these puzzles work.
      Some of the more high profile ones are "Icon to Path(s)" (generally
      attributed to Matt Sparks aka maltedfalcon) and "The Shadow Theory" (by
      Deidra and Dustin White). I'm sure there are many more, but these are the
      two that receive most of the attention.
    </p>
  </section>

  <footer>
  </footer>
</article>
