<footer class="bg-white px-8">
  <div class="-mb-px flex justify-center">
    &copy; Chris Woodford <%= Date.today.cwyear %>
    &nbsp;|&nbsp;
    <%= link_to "chriswoodford.ca", "/" %>
  </div>
</footer>
