<% current_section = current_page.data.section || "home" %>
<% sections = {
  "Home" => "/secret",
  "Methodology" => "/secret/methodology",
  "Solutions" => "/secret/solutions",
  "Resources" => "/secret/resources",
} %>

<nav class="bg-white px-8 pt-2 shadow-md">
  <div class="-mb-px flex justify-center">
    <% sections.each_pair do |section, path| %>
      <%= nav_item section, path,
                   selected: nav_item_selected?(section, current_section) %>
    <% end %>
  </div>
</nav>
