<% current_section = current_page.data.section || "home" %>
<% sections = {
  "Home" => "/secret",
  "Methodology" => "/secret/methodology",
  "Solutions" => "/secret/solutions",
  "Resources" => "/secret/resources",
} %>

<header class="flex justify-center bg-white px-8 pt-2 shadow-md">
  <nav class="flex">
    <% sections.each_pair do |section, path| %>
      <%= nav_item section, path,
                   selected: nav_item_selected?(section, current_section) %>
    <% end %>
  </nav>
</header>
