---
layout: secret
---

<article class="container mx-auto">
  <header class="pt-4 mb-4">
    <h1>The Secret: A Treasure Hunt</h1>
  </header>

  <section class="pt-4 mb-4">
    <p class="pb-4">
      I've been working on The Secret puzzles now for quite a while, and with
      all of the influx of new interest from Expedition Unknown viewers, I
      thought would be a good time to finally start documenting my ideas, in the
      hopes that it may help someone find their way to a casque.
    </p>

    <p class="pb-4">
      I do want to stress that these theories, are just that, theories. Many of
      the ideas expressed are my own, but they are the result of reading the
      countless post, theories, and ideas of on q4t, Reddit, and Facebook. I
      will always give credit where credit is due.
    </p>

    <p class="pb-4">
      Lastly, nothing here should be taken as fact. At least not until I have a
      casque in my hands!
    </p>
  </section>

  <aside>
    <h3>Links</h3>

    <ul>
      <li><%= link_to "Methdology", "/secret/methodology" %></li>
      <li><%= link_to "Resources", "/secret/resources" %></li>
    </ul>
  </aside>

  <footer>
  </footer>
</article>
